#container{/*顶层容器*/
    width: 960px;
    height: 730px;
    margin: 50px auto;
    background: #FFF;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;

}
#c_big{/*大图片容器*/
    width: 100%;
    height: 600px;

}
#c_big img{
    width: 100%;
    height: 100%;
}
#c_small{/*小图高350，宽20%*/
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: 120px;
    padding-left: 0px;

}
#c_small li{
    width: 20%;
    height: 120px;
    float:left;
}
#c_small li a img{
    width: 100%;
    height: 100%;
}